/*******************************************************************************
 * 
 * PÁGINA: CONTÁCTANOS
 * 
 ******************************************************************************/

/* -----------------------------------------------------------------------------
	SECCION: PAGE HEADER
----------------------------------------------------------------------------- */
.page-header__logo {
	height: 200px;
	width: auto;
	display: block;
}

.page-header__title {
	margin-top: -20px;
	position: relative;
	z-index: 2;
	color: var(--color-verdeCLaro);
	font-weight: 400;
	font-size: 3rem;
}

/* -----------------------------------------------------------------------------
	SECCION: FORMULARIO CONTÁCTANOS
----------------------------------------------------------------------------- */

.contact-card {
	background-color: var(--color-naranjaTenue);
}

/* Definición de la clase personalizada */
/* Definición de la clase personalizada */
.bg-verdeCLaro {
	background-color: var(--color-verdeCLaro) !important;
	color: var(--color-fondo) !important;
}

.bg-naranjaFuerte {
	background-color: var(--color-naranjaFuerte) !important;
	color: var(--color-fondo) !important;
}

/* -----------------------------------------------------------------------------
    SECCION: ALERTAS
----------------------------------------------------------------------------- */


.narnaja-text {
	color: var(--color-naranjaFuerte) !important;
}

.alerta-titulo {
	font-weight: 900;
}